---
title: Product Architecture
owner: Windows
---

This topic describes the architecture of Windows Diego Cells that <%= vars.windows_runtime_full %>
deploys to run containerized .NET apps and the stemcells that it supplies to BOSH
as the operating system for the Windows Diego Cell VMs.


## <a id='overview'></a>Overview

Operators, who want to run Windows Diego Cells in <%= vars.platform_name %> to enable developers to push .NET apps,
can deploy the <%= vars.windows_runtime_abbr %> tile.

Deploying this tile creates a separate BOSH deployment populated with the Garden Windows release, which runs on a Windows Diego Cell built from a Windows stemcell.

After the Windows Diego Cell is running,
developers can specify a Windows stack when pushing .NET apps from the command line.
<%= vars.platform_name %> passes the app to the Windows Diego Cell
in the <%= vars.windows_runtime_abbr %> BOSH deployment.
The diagram below illustrates the process.

<%= image_tag('windows-overview.png') %>


## <a id="cells"></a> About Windows Cells

App instances in <%= vars.platform_name %> run inside containers. Garden is the API that creates and manages these containers. An implementation equivalent to that on Linux Diego Cells provides this infrastructure on Windows Diego Cells, utilizing native Windows Server containers.

By installing the <%= vars.windows_runtime_abbr %> tile, operators create a Windows Diego Cell from a stemcell that contains the Windows Server operating system. Garden on Windows uses Windows containers to isolate resources on Windows Diego Cells that <%= vars.platform_name %> manages alongside Linux Diego Cells.

For more information about installing the <%= vars.windows_runtime_abbr %> tile, see [Installing and Configuring <%= vars.windows_runtime_abbr %>](installing.html).

For more information about Garden,
see [Garden](../concepts/architecture/garden.html).
For more information about Diego Cells,
see [Diego Cell](../concepts/architecture/index.html#diego-cell)
in _<%= vars.app_runtime_abbr %> Components_.
For more information about stemcells,
see [What is a Stemcell?](https://bosh.io/docs/stemcell/) in the BOSH documentation.
For more information about Windows containers,
see [Windows and containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/)
in the Microsoft documentation.

### <a id="components"></a> Components

A Windows Diego Cell includes the following components:

* Guardian: Implements the Garden API on Windows.

* Loggregator Agent: Forwards app logs, errors, and metrics to the Loggregator system. For more information about the Loggregator Agent, see [Step 6: Sends Logs to Loggregator](../concepts/diego/diego-architecture.html#step-6) in _Diego Components and Architecture_. For more information about Loggregator, see [Loggregator Architecture](../loggregator/architecture.html).

* BOSH Agent: Executes instructions from the BOSH Director. For more information, see [Agent](https://bosh.io/docs/bosh-components/#agent) in _Components of BOSH_ in the BOSH documentation.

* Diego Rep: Runs and manages [Tasks and Long Running Processes](../concepts/diego/diego-auction.html#processes). For more information, see [Tasks and Long-Running Processes](../concepts/diego/diego-auction.html#processes) in _How Diego Balances App Processes_.

The following diagram illustrates the architecture of a Windows Diego Cell:

<%= image_tag('windows-cell.png') %>

### <a id="container"></a> Container Implementation

Garden on Windows uses the following runtime plugins to create and manage Windows containers for <%= vars.app_runtime_full %>:

* Container plugin `winc`: Creates Open Container Initiative (OCI)-compliant containers, executes processes in the containers, and sets their CPU and RAM limits. For more information about OCI compliance, see the [Open Container Initiative](https://www.opencontainers.org) website.

* Network plugin `winc-network`: Creates a network compartment for the container, applies its DNS settings, and defines its inbound and outbound network access rules.

* Rootfs image plugin `groot`: Sets up the container filesystem volume and uses the File Server Resource Manager (FSRM) API to define its disk usage quotas. For more information about the FSRM, see [File Server Resource Manager (FSRM) overview](https://docs.microsoft.com/en-us/windows-server/storage/fsrm/fsrm-overview) in the Microsoft documentation.


## <a id="stemcells"></a> About Windows Stemcells

A stemcell is a customized operating system image containing the filesystem for BOSH-managed VMs.
When deployed, the operating system includes the BOSH Agent process,
which is dedicated to communicating with the orchestrating VM, the BOSH Director.
The BOSH Agent executes and monitors BOSH jobs on its VM.

Deployments of Windows Server on <%= vars.platform_name %> currently use a stemcell containing Windows Server 2019.

For more information about obtaining or creating a stemcell for <%= vars.windows_runtime_abbr %>, see [Downloading or Creating Windows Stemcells](./stemcells.html).
