---
title: Deploying .NET Apps
owner: Windows
---

This topic lists resources for .NET app developers.

For general information about app deployment, see [Pushing an App](../devguide/deploy-apps/deploy-app.html).


## <a id='hwc'></a> .NET Framework on Windows

[HWC Buildpack](../buildpacks/hwc/index.html)
describes how to push .NET Framework apps to <%= vars.windows_runtime_full %> using the HWC buildpack.
It also describes what features of IIS (Internet Information Services) and
HWC (Hostable Web Core) are supported, and how to configure your .NET Framework apps
to run on <%= vars.windows_runtime_abbr %>.

[Console Applications](https://dotnet-cookbook.apps.pcfone.io/headless/console_app/) in the _.NET Cookbook_ provides information about pushing compiled .NET Framework Console apps to <%= vars.windows_runtime_abbr %> using the binary buildpack.


## <a id='binary'></a> .NET Core on Windows

[Binary Buildpack](../buildpacks/binary/index.html) describes how to push compiled .NET Core apps to Windows Diego Cells on <%= vars.windows_runtime_abbr %> using the binary buildpack.

## <a id='dotnet-core'></a> .NET Core on Linux

[.NET Core Buildpack](../buildpacks/dotnet-core/index.html)
describes how to push .NET Core apps to Linux Diego Cells on <%= vars.app_runtime_abbr %>
using the .NET Core buildpack.
For supported ASP.NET Core versions,
see the [.NET Core buildpack release notes](https://github.com/cloudfoundry/dotnet-core-buildpack/releases)
in the .NET Core buildpack repository on GitHub.


## <a id='tips'></a> Other Resources

[Tips for .NET Framework Developers](./using.html) describes common errors and challenges faced when pushing .NET Framework apps to <%= vars.windows_runtime_abbr %>.

The [.Net Cookbook](https://dotnet-cookbook.apps.pcfone.io/intro/) provides code samples, guidelines, tips, and other recipes for making changes to both new and existing .NET Framework and .NET Core apps to run successfully on <%= vars.windows_runtime_abbr %>.
