---
title: Windows Diego Cells in Isolation Segments
owner: Windows
---

This topic describes how to run Windows Diego Cells in isolation segments, which are compartmentalized resource pools for Diego Cells.

Diego Cells in one isolation segment share routing, computing, and logging resources with other Diego Cells in the same segment, and do not use resources from other isolation segments.


## <a id='overview'></a> Overview

To run Windows Diego Cells in multiple isolation segments, you must create and
install multiple <%= vars.windows_runtime_full %> tiles and configure each to run
in a different isolation segment.

To create multiple copies of the <%= vars.windows_runtime_abbr %> tile, see [Replicate a Tile](#replicate).

To associate a <%= vars.windows_runtime_abbr %> tile with an isolation segment, so that its Diego Cells run in that segment, see [Assign a Tile to an Isolation Segment](#assign-isolation).


## <a id='prerequisites'></a> Prerequisites

To run a Windows Diego Cell in a particular isolation segment, the isolation segment must first already exist in the Cloud Controller database (CCDB) before the Windows Diego Cell can be assigned to it.

To create an isolation segment in the CCDB, see [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) in _Managing Isolation Segments_.


## <a id='replicate'></a> Replicate a Tile

To make multiple copies of the <%= vars.windows_runtime_abbr %> tile that you can assign to different isolation segments, you must use the Replicator tool.

To use the Replicator tool:

1. Download the Replicator tool from the [<%= vars.windows_runtime_full %>](https://network.pivotal.io/products/pas-windows)
   page on <%= vars.product_network %>.

1. Navigate to the directory where you downloaded the Replicator tool.

1. Replicate the tile by running:

    ```
    replicator-windows -name "TILE-NAME" -path PATH-TO-ORIGINAL -output PATH-TO-COPY
    ```
    Where:
    * `TILE-NAME` is a unique name for the new <%= vars.windows_runtime_abbr %> tile. The name must be ten or fewer characters in length and contain only alphanumeric characters, dashes, underscores, and spaces.
    * `PATH-TO-ORIGINAL` is the absolute path to the original `.pivotal` <%= vars.windows_runtime_abbr %> tile you downloaded from <%= vars.product_network %>.
    * `PATH-TO-COPY` is the absolute path for the copy of the `.pivotal` <%= vars.windows_runtime_abbr %> tile that the Replicator tool produces.
    For example:
    <pre class="terminal">
    C:\Users\admin\> replicator-windows -name "Shiny Tile" ^
    -path c:\downloads\TileOriginal.pivotal ^
    -output c:\temp\TileCopy.pivotal
    </pre>

1. Install and configure the Windows isolation segment, using the new `.pivotal` file and, following the procedures in _Installing and Configuring <%= vars.windows_runtime_abbr %>_, starting with the **Import a Product** step of [Install the Tile](installing.html#install).


## <a id='assign-isolation'></a> Assign a Tile to an Isolation Segment

To assign a <%= vars.windows_runtime_abbr %> tile to an isolation segment:

1. Select **App Containers**.

1. Under **Segment name**, enter the name for the isolation segment to associate the tile with.
   If you are creating a new isolation segment, ensure that this name is unique across your deployment.

1. (Optional) To limit the number of log lines each app instance in your isolation segment can generate per second, select **Enable** under **App log rate limit (beta)** and enter an integer for **Maximum app log lines per second**. At minimum, VMware recommends using the default limit of `100`. This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the cf CLI or increasing the CPU usage on the Diego Cell VM. You can use this value to monitor the `AppInstanceExceededLogRateLimitCount` metric for the number of app instances that exceed the log rate limit.

1. Click **Save**.
