---
title: Migrating Apps to PASW
owner: Windows
---

<% current_page.data.title = "Migrating Apps to " + vars.windows_runtime_abbr %>

This topic describes the process of migrating apps running on <%= vars.windows_runtime_full %>
2012 R2 stemcells to run on <%= vars.windows_runtime_abbr %> stemcells, which run Windows Server 2019.

<p class="note"><strong>Note</strong>: <%= vars.windows_runtime_abbr %> 2012 R2 has reached its end of availability (EoA) and is no longer generally available.</p>

VMware recommends you use the blue-green deployment method for high availability.
For more information about blue-green deployments,
see [Using Blue-Green Deployment to Reduce Downtime and
Risk](../devguide/deploy-apps/blue-green.html).


## <a id="install-tile"></a> Step 1: Install and Deploy the <%= vars.windows_runtime_abbr %> Tile

To install and deploy the <%= vars.windows_runtime_abbr %> tile, follow steps 1 and 2 of [Installing and Configuring <%= vars.windows_runtime_abbr %>](installing.html).


## <a id="push-app"></a> Step 2: Push App to <%= vars.windows_runtime_abbr %> Diego Cells

To redeploy a running app with zero downtime using the blue-green method:

1. Log in to the Cloud Foundry Command Line Interface (cf CLI) by running:

    ```
    cf login
    ```

1. Choose your org and space.

1. Navigate to the location of your app.

1. To find the name of the existing <%= vars.windows_runtime_abbr %> 2012 R2 app you are migrating to <%= vars.windows_runtime_abbr %> Diego, run:

    ```
    cf apps
    ```

1. Create a name for the replacement <%= vars.windows_runtime_abbr %> app.
   VMware recommends you append `-green` to your existing app name, using the following format:

    ```
    APP-NAME-green
    ```
    Where `APP-NAME` is the name of the existing <%= vars.windows_runtime_abbr %> Diego 2012 R2 app.

1. To push your app to a <%= vars.windows_runtime_abbr %> Diego Cell using your newly created name, run:

    ```
    cf push APP-NAME-GREEN -s windows -b BUILDPACK -n HOSTNAME --no-start --no-route
    ```
    Where:
    * `APP-NAME-GREEN` is the newly created "green" name for your app.
    * `BUILDPACK` is your custom buildpack. Specify the buildpack either by name or GitHub URL with an optional branch or tag.
    * `HOSTNAME` is the name of your app's subdomain. For example, if `example.com` is your domain and you want the URL to your app to be `http://my-app.example.com`, then specify `my-app` as the `HOSTNAME`.
    <br>
    For example:
    <pre class="terminal">
    C:\Users\admin\> cf push ExampleApp-green -s windows ^
    -b https://github.com/cloudfoundry/binary-buildpack.git ^
    -n my-app --no-start --no-route
    </pre>
    <p class="note"><strong>Note:</strong> The <code>--no-start</code> and <code>--no-route</code> parameters included in this <code>cf push</code> command are required for the this procedure. <code>--no-start</code> is used to create the instance VMs and not start the app, and <code>--no-route</code> is used to prevent the push command from automatically mapping a route to the app.
    For more information about <code>cf push</code>, see <a href="http://cli.cloudfoundry.org/en-US/cf/push.html">cf push</a> in the Cloud Foundry CLI Reference Guide.</p>
    <p class="note"><strong>Note:</strong> The <code>windows</code> stack is a renaming of the old <code>windows2016</code> stack. These stacks are identical and differ in name only. If the <code>windows</code> stack is available, specify <code>-s windows</code>. Otherwise, specify <code>-s windows2016</code>. In <%= vars.windows_runtime_abbr %> v2.5 and later, the <code>windows2016</code> stack is deprecated. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/windows-rn.html#-deprecation-of-the-windows2016-stack">Deprecation of the windows2016 Stack</a> in <em><%= vars.windows_runtime_full %> v2.5 Release Notes</em>.</p>

1. To configure the router so all incoming requests go to both `APP-NAME` and `APP-NAME-green`, run:

    ```
	cf map-route APP-NAME-green DOMAIN -n HOSTNAME
    ```
    Where:
    * `APP-NAME-green` is the name of the new "green" version of your app.
    * `DOMAIN` is your domain name. For example, `example.com`.
    * `HOSTNAME` is the name of your app's subdomain. For example, if `example.com` is your domain and you want the URL to your app to be `http://my-app.example.com`, then specify `my-app` as the `HOSTNAME`.
    <p class="note"><strong>Note:</strong> When using the <code>cf map-route</code> command, you must specify domain name after specifying app name.</p>
    For additional information about `cf map-route`, see [cf map-route](http://cli.cloudfoundry.org/en-US/cf/map-route.html) in the Cloud Foundry CLI Reference Guide.

1. To start the green app, run:

    ```
	cf start APP-NAME-green
    ```
    Where `APP-NAME-green` is the name of the new "green" version of your app.

1. To confirm that both your `APP-NAME` and `APP-NAME-green` apps are running, run:

    ```
    cf apps
    ```
    If you experience a problem, see [Troubleshooting App Deployment and Health](../devguide/deploy-apps/troubleshoot-app-health.html).

1. To unmap the original app's route, run:

    ```
    cf unmap-route APP-NAME DOMAIN -n HOSTNAME
    ```
    Where:
    * `APP-NAME` is the name of the existing version of your app you want to replace with `APP-NAME-green`.
    * `DOMAIN` is your domain name, for example, `example.com`.
    * `HOSTNAME` is the name of your app's subdomain. For example, if `example.com` is your domain and the existing app is currently accessed using the URL `http://my-app.example.com`, then specify `my-app` as the `HOSTNAME`.
    <br>
    For additional information about `cf-unmap-route`, see [cf unmap-route](http://cli.cloudfoundry.org/en-US/cf/unmap-route.html) in the Cloud Foundry CLI Reference Guide.


## <a id="delete-app"></a> Step 3: Delete App from <%= vars.windows_runtime_abbr %> 2012 R2 Server Diego Cells

To delete the original app:

1. Run:

    ```
    cf delete APP-NAME
    ```
    Where `APP-NAME` is the name of the app that you have replaced with `APP-NAME-green`.
    <p class="note"><strong>Note:</strong> To also delete any mapped routes, run the command with the <code>-r</code> flag.</p>
    For additional information about `cf delete`, see [cf delete](http://cli.cloudfoundry.org/en-US/cf/delete.html) in the Cloud Foundry CLI Reference Guide.


## <a id="uninstall-old-tile"></a> Step 4: (Optional) Uninstall Old Tile

Once you have migrated all of your apps and you are no longer using the <%= vars.windows_runtime_abbr %> 2012 R2 tile, a <%= vars.platform_name %> operator uninstall the tile.

To uninstall the tile:

1. From the Installation Dashboard, click the trash icon on the tile to remove that product. In the **Delete Product** dialog box that appears, click **Confirm**.

1. Click **Review Pending Changes**.

1. Select the <%= vars.windows_runtime_abbr %> tile and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/ops-manager/2-10/install/review-pending-changes.html).

1. Click **Apply Changes**.
  <p class="note"><strong>Note:</strong> After you delete a product, the product tile is removed from the installation and the Installation Dashboard. However, the product appears in the Available Products view.</p>
