---
title: Downloading or Creating Windows Stemcells
owner: Windows
---

This topic describes how to download or create the stemcell that <%= vars.windows_runtime_full %>
needs to create VMs on an infrastructure.

<p class="note"><strong>Note:</strong> Traffic between the Gorouter and Windows stemcells is not encrypted with TLS.</p>


## <a id="stemcell"></a> Windows Stemcells

A BOSH stemcell is a versioned OS image wrapped with IaaS-specific packaging.
BOSH uses a stemcell to supply the basic OS for any Windows VM it creates.
A typical BOSH stemcell for Windows contains the following:

* A bare minimum Windows OS skeleton.
* A BOSH Agent.
* OS Configuration files and common utilities.

For more information about stemcells, see [What is a Stemcell?](https://bosh.io/docs/stemcell/)
in the Cloud Foundry BOSH documentation.

### <a id="compatibility"></a> Windows Stemcell Compatibility Matrix

Refer to the compatibility matrix below before deploying and installing the <%= vars.windows_runtime_abbr %> tile:

| <%= vars.windows_runtime_abbr %> Version        | WindowsFS Version     | Stemcell 2019.43 and earlier | Stemcell 2019.44 for Azure and Stembuild vSphere | Stemcell v2019.44 for other IAASes | Stemcell 2019.45         |
|----------------------|------------------------|---------------------|-----------------------------------------|--------------------------|--------------------------|
| v2.7.35 and earlier  | v2.31.0 and earlier    | Compatible          | Not compatible                          | Compatible               | Not compatible           |
| v2.7.37 and later    | v2.33.2                | Compatible          | Compatible                              | Compatible               | Not compatible           |
| v2.10.19 and earlier | v2.31.9 and earlier    | Compatible          | Not compatible                          | Compatible               | Not compatible           |
| v2.10.21 and later   | v2.33.2                | Compatible          | Compatible                              | Compatible               | Not compatible           |
| v2.11.8 and earlier  | v2.31.0 and earlier    | Compatible          | Not compatible                          | Compatible               | Not compatible           |
| v2.11.10 and later   | v2.33.2                | Compatible          | Compatible                              | Compatible               | Not compatible           |
| v2.12.3 and earlier  | v2.31.0 and earlier    | Compatible          | Not compatible                          | Compatible               | Not compatible           |
| v2.12.4 and later    | v2.33.2                | Compatible          | Compatible                              | Compatible               | Not compatible           |

<br>
Depending on your IaaS, you can create or download a stemcell using these methods:

* **Azure**: To activate and download the Azure Windows Stemcell, see [Configuring the Azure Light Stemcell](#azure).

* **Google Cloud Platform (GCP)**: Download the **GCP light Stemcell for Windows 2019 Server**
  from the [Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server)
  page on <%= vars.product_network %>.

* **vSphere**: To create a stemcell, see [Creating a Windows Stemcell for vSphere Using stembuild]
(create-vsphere-stemcell-automatically.html).

* **Amazon Web Services (AWS)**: Download the **AWS light Stemcell for Windows 2019 Server**
  from the [Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server)
  page on <%= vars.product_network %>.


## <a id="azure"></a> Configuring the Azure Light Stemcell

On Azure, the stemcell exists as an offering in the Azure Marketplace. To start using the Azure light stemcell:

- [Enable the Azure Light Stemcell](#use)
- [Download the Azure Light Stemcell](#download)

### <a id="use"></a> Enable the Azure Light Stemcell

To use the Azure light stemcell, you must first accept the corresponding Microsoft license agreement
and enable the stemcell for your non-trial Azure Subscription through the Azure Marketplace.

#### <a id="enable-sub"></a> Enable Your Azure Subscriptions

To enable the Azure subscriptions with which you want to use your stemcell:

1. Go to the [Microsoft Azure portal](https://portal.azure.com) and log in.

1. From the options on the left side of the page, click **+ Create a resource**.

1. In the **Search the Marketplace** bar, search for **BOSH Stemcell for Windows Server 2019**.

1. Select **BOSH Stemcell for Windows Server 2019** from your search results. A description of the Azure stemcell offering appears.

1. Below the description, at the bottom of the page, click the blue banner that reads **Want to deploy programmatically? Get started ➔**.

1. Review the Terms of Use on the "Configure Programmatic Deployment" page that appears.

1. Under **Choose the subscriptions**, click **Enable** for each Azure subscription with which you want to use the stemcell.

1. Click **Save**.

#### <a id="accept-license"></a> Accept the License Agreement

To accept the license agreement for your stemcell:

1. To log in to to Azure with the Azure CLI, use the following command:

    ```
    az login
    ```

1. To list the available Windows stemcells and find latest Windows stemcell `urn`,
run the following Azure CLI command:

	```
	az vm image list --all --publisher pivotal --sku 2019
	```

    For example:

	<pre class="terminal">
	az vm image list --all --publisher pivotal --sku 2019
	Offer                     Publisher    Sku    Urn                                                  Version
	------------------------  -----------  -----  ---------------------------------------------------  -------------
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.1.050001  2019.1.050001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.2.022001  2019.2.022001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.3.041001  2019.3.041001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.4.044001  2019.4.044001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.5.006001  2019.5.006001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.6.025001  2019.6.025001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.7.012001  2019.7.012001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.8.028001  2019.8.028001
	</pre>

	In the example above, `pivotal:bosh-windows-server-2019:2019:2019.8.028001` is the
    latest Windows stemcell `urn`.

1. To accept the terms for the selected Windows stemcell for each Azure subscription
with which you want to use the stemcell, run the following command:

    ```
    az vm image accept-terms --subscription SUBSCRIPTION_ID --urn URN-ID
    ```

    Where:
    * `SUBSCRIPTION_ID` is an Azure subscription with which you want to use the stemcell.
    * `URN-ID` is the `urn` for the latest Windows stemcell.


### <a id="download"></a> Download the Azure Light Stemcell

To download the Azure light stemcell for use in Ops Manager:

1. Go to the [Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server)
   page on <%= vars.product_network %>.

1. Download the **Azure Light Stemcell for Windows 2019 Server**.

For information about how to deploy and configure the <%= vars.windows_runtime_abbr %> tile, see [Installing and Configuring <%= vars.windows_runtime_abbr %>](./installing.html).
